*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f8fafc;
    color:#0f172a;
}

header{
    width:100%;
    padding:18px 8%;
    background:#0f172a;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

.logo{
    color:white;
    font-size:30px;
    font-weight:700;
}

nav a{
    text-decoration:none;
    color:white;
    margin:0 12px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

.mode-btn,
.btn,
.btn-outline,
form button{

    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:0.3s;
}

.mode-btn,
.btn,
form button{

    background:#38bdf8;
    color:#0f172a;
}

.mode-btn:hover,
.btn:hover,
form button:hover{

    background:#0ea5e9;
    transform:scale(1.05);
}

.btn-outline{
    border:2px solid #38bdf8;
    color:#38bdf8;
    text-decoration:none;
}

.btn-outline:hover{
    background:#38bdf8;
    color:#0f172a;
}


.hero{
    min-height:60vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px 8%;
    gap:40px;
}

.hero-text h3{
    color:#38bdf8;
    font-size:28px;
}

.hero-text h1{
    font-size:55px;
    margin:8px 0;
}

.hero-text h2{
    color:#334155;
    margin-bottom:18px;
}

.hero-text p{
    font-size:17px;
    line-height:1.7;
    margin-bottom:20px;
    max-width:520px;
}

.hero-buttons{
    display:flex;
    gap:15px;
}

.btn{
    text-decoration:none;
}

.hero-image img{
    width:300px;
    height:300px;
    object-fit:cover;
    object-position: center 20%;
    border-radius:50%;
    border:5px solid #38bdf8;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    display: block;
    transition:0.4s ease;
}

.hero-image img:hover{
    transform:scale(1.05);
}

section{
    padding:70px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:35px;
}

.section-title h2{
    font-size:36px;
    color:#0f172a;
}


.about-box{
    background:white;
    padding:30px;
    border-radius:15px;
    line-height:1.9;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}


.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.skill-card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:12px;
    font-weight:600;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.skill-card:hover{
    transform:translateY(-8px);
    background:#38bdf8;
}


.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:20px;
}

.project-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card h3{
    margin-bottom:15px;
    color:#38bdf8;
}


.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:center;
}

.contact-info{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.contact-info h3{
    margin-bottom:20px;
    color:#38bdf8;
}

.contact-info p{
    margin:15px 0;
}

form input,
form textarea{

    width:100%;
    padding:15px;
    margin:12px 0;
    border-radius:10px;
    border:1px solid #cbd5e1;
    outline:none;
}

form textarea{
    height:130px;
    resize:none;
}

.social-section{
    text-align:center;
    padding:50px 8%;
}

.social-section h2{
    font-size:35px;
    margin-bottom:30px;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.social-btn{
    text-decoration:none;
    background:#38bdf8;
    color:#0f172a;
    padding:14px 28px;
    border-radius:10px;
    font-weight:600;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.social-btn:hover{
    background:#0ea5e9;
    transform:translateY(-5px);
}

footer{
    text-align:center;
    padding:22px;
    background:#0f172a;
    color:white;
    margin-top:40px;
}

.dark{
    background:#020617;
    color:white;
}

.dark header{
    background:black;
}

.dark .about-box,
.dark .skill-card,
.dark .project-card,
.dark .contact-info{

    background:#1e293b;
    color:white;
}

.dark .social-section h2{
    color:white;
}

@media(max-width:950px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }

    .hero-buttons{
        justify-content:center;
    }

    .contact-container{
        grid-template-columns:1fr;
    }
}

@media(max-width:600px){

    .hero-text h1{
        font-size:36px;
    }

    .hero-image img{
        width:220px;
        height:220px;
    }
}